<?xml version="1.0"?>
<Project xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <propertyGroup>
    <StartProgram>J:\SteamLibrary\steamapps\common\Medieval II Total War\mods\KingdomOfTheDunedain\M2TWEOP GUI.exe</StartProgram>
    <StartArguments />
    <StartWorkingDirectory>J:\SteamLibrary\steamapps\common\Medieval II Total War\mods\KingdomOfTheDunedain</StartWorkingDirectory>
    <CapturePrintMessagesToDebugOutputWindow>false</CapturePrintMessagesToDebugOutputWindow>
    <TextEncoding>0</TextEncoding>
  </propertyGroup>
</Project>