
DaC v5 Full Changelog.txt
DaC v5 Overview.pdf
DaC v5.ico
DaC_Config.json
*.sav
*.mesh
*.texture
*.dds
*.spr
LAA.txt
icon.ico
Full Cleaner.bat
Large Address Aware.exe
DaC_Launcher.exe

custom/
armies/
saves/
preferences/
extra/
data/animations/
data/battlefield/
data/BETTER_WATER/
data/blockset/
data/cursors/
data/fmv/
data/globallighting/
data/loading_screen/
data/menu/
data/models_effects/
data/models_missile/
data/models_strat/
data/new_vegetation/
data/overlaytextures/
data/siege_engines/
data/sounds/
data/terrain/
data/text/
data/ui/
data/vegetation/
data/banners/
data/settlements/
data/textures/
data/world/
data/unit_models/loading_screen/
data/unit_models/units/
data/unit_models/_generals_and_captains/
data/unit_models/mounts/



data/custom_locations.txt
data/export_descr_vnvs_enums.txt
data/export_descr_unit_enums.txt
data/export_descr_sounds_units_voice.txt
data/export_descr_sounds_units_battle_events.txt
data/export_descr_sounds_stratmap_voice.txt
data/export_descr_sounds_soldier_voice.txt
data/export_descr_sounds_prebattle.txt
data/export_descr_sounds_narration.txt
data/export_descr_sounds_advice.txt
data/export_descr_guilds.txt
data/export_descr_character_traits.txt
data/export_descr_buildings_enums.txt
data/export_descr_ancillary_enums.txt
data/export_descr_ancillaries.txt
data/export_descr_advice_enums.txt
data/export_descr_advice.txt
data/descr_water_types.txt
data/descr_water_interaction_effects.txt
data/descr_water_effects.txt
data/descr_water.txt
data/descr_walls.txt
data/descr_ui_colour_db.txt
data/descr_ui_buildings.txt
data/descr_transition_screen.txt
data/descr_standards.txt
data/descr_sounds_weapons.txt
data/descr_sounds_units_voice.txt
data/descr_sounds_units_taunt.txt
data/descr_sounds_units_run.txt
data/descr_sounds_units_retreat.txt
data/descr_sounds_units_reform.txt
data/descr_sounds_units_march.txt
data/descr_sounds_units_idle.txt
data/descr_sounds_units_fire.txt
data/descr_sounds_units_fight.txt
data/descr_sounds_units_confirm.txt
data/descr_sounds_units_collide.txt
data/descr_sounds_units_charge.txt
data/descr_sounds_units_celebrate.txt
data/descr_sounds_units_anims.txt
data/descr_sounds_units_ambient.txt
data/descr_sounds_units.txt
data/descr_sounds_structures.txt
data/descr_sounds_stratmap_voice.txt
data/descr_sounds_stratmap.txt
data/descr_sounds_prebattle.txt
data/descr_sounds_narration.txt
data/descr_sounds_music.txt
data/descr_sounds_interface.txt
data/descr_sounds_generic.txt
data/descr_sounds_events.txt
data/descr_sounds_enviro.txt
data/descr_sounds_engine.txt
data/descr_sounds_db.xml
data/descr_sounds_battle_events.txt
data/descr_sounds_advice.txt
data/descr_sounds_accents.txt
data/descr_sounds.txt
data/descr_sm_resources.txt
data/descr_sm_factions.txt
data/descr_skeleton.txt
data/descr_ship.txt
data/descr_settlement_mechanics.xml
data/descr_religions_lookup.txt
data/descr_religions.txt
data/descr_rebel_factions.txt
data/descr_projectile.txt
data/descr_pathfinding.txt
data/descr_pathfinding.db
data/descr_particle.txt
data/descr_oil_effect.txt
data/descr_offmap_models.txt
data/descr_names_lookup.txt
data/descr_names.txt
data/descr_mount.txt
data/descr_model_strat.txt
data/descr_missions.txt
data/descr_lbc_db.txt
data/descr_landscape_ambient_settlements.txt
data/descr_hero_abilities.xml
data/descr_geography_new.db
data/descr_formations_ai.txt
data/descr_formations.txt
data/descr_flaming_projectiles.txt
data/descr_faction_standing.txt
data/descr_event_images.txt
data/descr_event_effects.txt
data/descr_engines.txt
data/descr_engine_skeleton.txt
data/descr_effects.txt
data/descr_effect_impacts.txt
data/descr_diplomacy.xml
data/descr_daytypes.txt
data/descr_cursor_tooltips_lookup.txt
data/descr_cursor_actions_battle_classic.txt
data/descr_cursor_actions.txt
data/descr_cultures.txt
data/descr_climates_lookup.txt
data/descr_climates.txt
data/descr_chimney_smoke.txt
data/descr_character.txt
data/descr_campfires_brasiers.txt
data/descr_campaign_db.xml
data/descr_campaign_ai_db.xml
data/descr_burning_men_effect.txt
data/descr_burning_building.txt
data/descr_building_battle_enums.txt
data/descr_boiling_oil.txt
data/descr_battle_map_movement_modifiers.txt
data/descr_battle_map_lighting_and_fog_control.txt
data/descr_banners_new.xml
data/descr_artillery_effects.txt
data/descr_arrow_trail_effects.txt
data/descr_area_effects.xml
data/descr_animals.txt
data/descr_aerial_map_ground_types.txt
data/packagedb.txt
data/packageglobalconfig.txt
data/ReallyBadAI_Scripts_v5.txt
data/weather_db.xml
data/unit_models/attachmentsets/faction_variations/united/variations/south_european/winter/Dummy file.txt
data/unit_models/attachmentsets/faction_variations/greek/variations/south_european/winter/Dummy file.txt
data/unit_models/attachmentsets/faction_variations/egypt/variations/south_european/winter/Dummy file.txt
data/unit_models/_units/garrison/icon_spacer\[1\].gif
data/unit_models/_units/anduin/m2tw_2.skel
data/unit_models/_units/anduin/Human_Mesh.bits3
data/unit_models/_units/anduin/Human_Mesh.bits2
data/unit_models/_units/anduin/Human_Mesh.bits1
data/unit_models/_units/anduin/AttachmentSets/berserker.mtl
data/unit_sprites/ireland_anduin_archer_sprite_000.tga
data/unit_sprites/ireland_anduin_archer_sprite_001.tga
data/unit_sprites/ireland_anduin_farmer_sprite_000.tga
data/unit_sprites/ireland_anduin_merchant_sprite_000.tga
data/unit_sprites/ireland_anduin_merchant_sprite_001.tga
data/unit_sprites/ireland_anduin_merchant_sprite_002.tga
data/unit_sprites/ireland_eotheod_sprite_000.tga
data/unit_sprites/ireland_eotheod_sprite_001.tga
data/unit_sprites/ireland_foot_eotheod_sprite_000.tga
data/unit_sprites/ireland_foot_eotheod_sprite_001.tga
data/unit_sprites/ireland_framsburg_guard_sprite_000.tga
data/unit_sprites/ireland_framsburg_guard_sprite_001.tga
data/unit_sprites/ireland_framsburg_mount_sprite_000.tga
data/unit_sprites/ireland_framsburg_mount_sprite_001.tga
data/unit_sprites/norway_drnor_pikemen_upg_sprite_000.tga
data/unit_sprites/norway_drnor_pikemen_upg_sprite_001.tga
data/unit_sprites/norway_mounted_huntsmen_sprite_000.tga
data/unit_sprites/norway_mounted_huntsmen_sprite_001.tga
data/unit_sprites/norway_mounted_huntsmen_sprite_002.tga
data/unit_sprites/sicily_fountain_guard_sprite_000.tga
data/unit_sprites/sicily_fountain_guard_sprite_001.tga
data/unit_sprites/sicily_fountain_guard_ug1_sprite_000.tga
data/unit_sprites/sicily_fountain_guard_ug1_sprite_001.tga
